:root {
  --primary: #64A6BD;
  --secondary: #90A8C3;
  --tertiary: #ADA7C9;
  --quarnary: #D7B9D5;
  --quinary: #F4CAE0;
}
.App {
  text-align: center;
  margin-bottom: 50px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-title {
  margin: 20px auto;
  padding: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 50px;
  background-color: var(--primary);
  color: var(--quinary);
}

.nav-bar {
  list-style-type: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding-right: 50px;

}

.nav-bar li {
  display: inline;
  padding: 5px;
  float: right;
  margin-left: 0px;
  
  
}

.nav-bar li a {
  text-decoration: none;
  color: var(--secondary);
  margin-left: 50px;

}

.nav-bar li a:hover {
  color: var(--quarnary);

}

.aboutme {
  margin-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: var(--secondary);

}

.profile-picture {
  max-width: 450px;
  border-radius: 50%;
  border: 10px var(--primary) solid;

}

.portfolio {
  margin-top: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: var(--secondary);

}

.inspo-co img{
  scale: 0.5;
  margin-top: 20px;
  opacity: 0.5;
  border-radius: 15%;

}

.inspo-co img:hover {
  opacity: 1;
}

.row img {
  width:  400px;
  height: 250px;
  padding: 25px;
  margin-left: 50px;
  margin-right: 50px;
  object-fit: cover;
  opacity: 0.5;
  border-radius: 15%;
}

.row img:hover {
  opacity: 1;
}

.resume {
  margin-top: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: var(--secondary);

}

.resume-picture {
  max-width: 450px;
}

.footer {
  width: 100%;
  position: relative;
  padding-bottom: 0;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;


}

.footer ul li {
  list-style-type: none;
  display: inline;
  margin-left: 20px;


}

.footer a {
  text-decoration: none;
  padding-left: 10px;
  color: var(--secondary);

}

.footer a:hover {
  color: var(--quarnary);

}